

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.hero-section {
    width: 100%;
    height: 100vh;
    background-image: url(../../public/images/backmun.jpg);
    background-position: center;
    background-size: cover;
}
