@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Gluten:wght@200;300&family=Lato:ital@1&family=Pacifico&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.hero-section {
    width: 100%;
    height: auto;
    background-image: url(../../public/images/backmun2.png);
    background-position: center;
    background-size: cover;
    position: relative;
}


.intro-text {
    width: auto;
    position: relative;
    top: 20%;
    left: 16%;
    color: white;
    margin-top: 30px;
}

.intro-text h1 {
    font-size: 45px;
}

.intro-text h3 {
    font-size: 20px;
    margin-top: 5px;
}



.list1 li {
    font-size: 20px;
}

.apply-animation {
    animation: deesheeDooshoo 0.4s infinite alternate;
    width: 100%; 
    position: relative; 
    bottom: 5px;
}

.apply-animation a {
    color: white; 
    text-decoration: none; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.apply-animation a i {
    color: #ffbe02;
    margin-left: 5px;
    font-size: 15px;
}

.apply-animation a h3 {
    font-size: 15px; 
    color: #ffbe02;
}

@keyframes deesheeDooshoo {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(5px);
    }
}

.middle {
    width: 100%;
    height: auto;
}

.about {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.register-area {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-text {

    width: 80%;
    height: auto;
    margin-top: 40px;
}

.welcome-text h1,p {
    color: black;
}

.welcome-text h1 {
    font-size: 25px;
    font-weight: bold;
}

.welcome-text p {
    font-size: 17px;
    padding: 5px 20px 5px 20px;
    line-height: 30px;
}

.welcome-text h2 {
    font-size: 25px;
}

.welcome-text .list1 li {
    font-size: 17px;
    line-height: 30px;
}

.button-area {
    width: 80%;
    height: auto;
    margin-top: 10px;
    text-align: center;
}

.button-area hr {
    margin: 30px 0 30px 0;
}

.button-area h1 {
    font-size: 25px;
    font-weight: bold;
    color: #1f4fa1;
}

.button-area h3 {
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 40px;
}

.button-area a {
    text-decoration: none;
    color: white;
    background-color: #1f4fa1;
    padding: 6px 30px 6px 30px;
    border-radius: 30px;
    font-size: 20px;    
    transition: 0.4s;
    box-shadow: 0px 0px 15px black;

}

.button-area a:hover {
    background-color: rgba(31, 79, 161, 0.8) !important;
}

footer {
    width: 100%;
    height: 60vh;
    background-color: white;
}

@media screen and (min-width: 992px) {
    .hero-section {
        height: 88vh;
    }

    .intro-text {
        width: auto;
        position: relative;
        top: 20%;
        left: 16%;
        color: white;
        margin-top: 30px;
    }
    .intro-text h1 {
        font-size: 130px;
    }
    .intro-text h3 {
        font-size: 35px;
        margin-top: 10px;
    }

    .apply-animation {
        position: relative;
        top: 55%;
    }

    .apply-animation a i {
        color: #ffbe02;
        margin-left: 5px;
        font-size: 20px;
    }
    
    .apply-animation a h3 {
        font-size: 20px; 
        color: #ffbe02;
    }

    .welcome-text {
        width: 60%;
        height: auto;
        
        margin-top: 40px;
    }
    
    .welcome-text h1,p {
        color: black;
    }
    
    .welcome-text h1 {
        font-size: 40px;
        font-weight: bold;
    }
    
    .welcome-text p {
        font-size: 20px;
        padding: 10px 50px 10px 50px;
        line-height: 35px;
    }
    .welcome-text h2 {
        font-size: 40px;
    }
    
    .welcome-text .list1 li {
        font-size: 20px;
        line-height: 35px;
    }
    
    .button-area {
        width: 30%;
        height: auto;
        margin-top: 10px;
        text-align: center;
    }

    .button-area {
        width: 30%;
        height: auto;
        margin-top: 10px;
        text-align: center;
    }
    
    .button-area hr {
        margin: 30px 0 30px 0;
    }
    
    .button-area h1 {
        font-size: 40px;
        font-weight: bold;
        color: #1f4fa1;
    }
    
    .button-area h3 {
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 40px;
    }
    
    .button-area a {
        text-decoration: none;
        color: white;
        background-color: #1f4fa1;
        padding: 12px 60px 12px 60px;
        border-radius: 30px;
        font-size: 25px;    
        transition: 0.4s;
        box-shadow: 0px 0px 15px black;
    
    }

    
}





