

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px 0;
}

svg {
    width: 12%;
    margin-right: 40px;
}

nav ul li{
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    color: white;
    font-size: 25px;
}