


* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
}

.page {
    background-image: url(../../public/images/14-1.jpg) !important;
    background-position: center;
    background-size: cover;
}

.forum {
    width: 40%;
}

.forum-head {
    background-color: #1f4fa1;
    width: 100% !important;
}

textarea {
    height: 200px !important;
}

.btn-primary {
    background-color: #1f4fa1 !important;
    font-weight: 600 !important;
}

.btn-primary:hover {
    background-color: rgba(31, 79, 161, 0.9) !important;
}