


* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
}

body {
    background-image: url(../../public/images/14-1.jpg) !important;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    justify-content: center !important;
    align-items: center !important;

}

.page {
    margin: 30px 20px;
}

.forum-head {
    background-color: #1f4fa1;
    width: 100% !important;
}

textarea {
    height: 200px !important;
}

.btn-primary {
    background-color: #1f4fa1 !important;
    font-weight: 600 !important;
}

.btn-primary:hover {
    background-color: rgba(31, 79, 161, 0.9) !important;
}

@media screen and (min-width: 992px) {
    .page {
        margin: 30px 15%;
    }
}

@media screen and (min-width: 1280px) {
    .page {
        margin: 30px 35%;
    }
}